
/* Go to Top Button */
.go-to-top-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #007bff89;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 40%;
    z-index: 1000;
  }
  .Send_msg_btn2 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff89;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 40%;
    z-index: 1000;
  }
  
  .go-to-top-button:hover ,.Send_msg_btn2:hover{
    background-color: #0056b3;
  }
  @media screen and (min-width: 769px) {
    .go-to-top-button,.Send_msg_btn2{
      font-size: 2rem;
    }
  }


/* Footer styles */
.footer {
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}
.dark-mode .footer{
    background-color: #1a1a1a;
}
.light-mode .footer{
    background-color: #e7e7e7;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
}
.footer-content a {
    color: inherit;
    text-decoration: none;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
}
.dark-mode .footer-links a{
    color: white;
}
.light-mode .footer-links a{
    color: black;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-links{
        display: flex;
        gap: 12px;
    }

    .footer-links li {
        margin: 5px 0;
    }
}

