
.projects_Details_container , 
.education_details_container, 
.skills-container, 
.contact-details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
   
}

.projects .heading , 
.education .heading , 
.technical-skills .heading, 
.contact-me .heading{
    width: 100%;
    text-align: center;
    margin-bottom: -20px;
}


.project ,
.skill-box , 
.contact-details-box
.social-media-box {
    /* width: calc(33.33% - 20px); */
    max-width: 300px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    overflow: hidden; /* To hide overflowing project details */
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    opacity: 1; /* Initially visible */
    max-height: 1000px; /* Initially expanded height */
}
.dark-mode .project , 
.dark-mode .education-detail , 
.dark-mode .skill-box, 
.dark-mode .contact-details-box,
.dark-mode .social-media-box{
    box-shadow: 0px 2px 5px rgba(237, 236, 236, 0.2); /* Transparent white background */
}

.light-mode .project , 
.light-mode .education-detail , 
.light-mode .skill-box, 
.light-mode .contact-details-box,
.light-mode .social-media-box{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Transparent white background */
}
.light-mode .project:hover ,
.light-mode .education-detail:hover,
.light-mode .skill-box:hover,
.light-mode .contact-details-box:hover,
.light-mode .social-media-box:hover{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 1); /* Transparent white background */
}

.dark-mode .project:hover ,
.dark-mode .education-detail:hover,
.dark-mode .skill-box:hover,
.dark-mode .contact-details-box:hover,
.dark-mode .social-media-box:hover{
    box-shadow: 0px 2px 5px rgba(237, 236, 236, 1); /* Transparent white background */
}

.project-details {
    background-color: rgba(14, 13, 13, 0.8); /* Transparent white background */
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 0;
    width: 90%;
    height: 200px;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dark-mode .project-details , 
.dark-mode .education-details, 
.dark-mode .contact-details-box,
.dark-mode .social-media-box{
    background-color: rgba(14, 13, 13, 0.94); /* Transparent white background */
}
.light-mode .project-details , 
.light-mode .education-details, 
.light-mode .contact-details-box,
.light-mode .social-media-box{
    background-color:rgba(237, 236, 236, 0.92); /* Transparent white background */
}

.project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.light-mode .project-details{
    color: black;
}

.project-details h2 {
    margin: 0;
    text-align: center;
}
.dark-mode .project-details h2{
    color: #b99813;
}
.light-mode .project-details h2{
    color: #470505;
}

.project-details h3 {
    text-align: center;
    font-family: "comic sans ms";
    margin-bottom: 0;
    margin-top: 2px;
}
.dark-mode .project-details h3{
    color: #4db53f;
}
.light-mode .project-details h3{
    color: #820000;
}

.project-details p {
    text-align: center;
    font-family: "comic sans ms";
    margin-top: 3px;
    margin-bottom: 3px;
}
.dark-mode .project-details p{
    color: #c9a001;
}
.light-mode .project-details p{
    color: #470505;
}

.project-details button{
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
    padding: 10px;
    width: 98%;
    text-align: center;
    background-color:#d1d0ca;
    border-radius: 5px;
    cursor: pointer;
}
.project-details button:hover{
    background-color: #9a9a9a;
    transition: background-color 0.3s ease;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
    .projects_Details_container, 
    .education_details_container,
    .contact-details-container{
        padding: 20px;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .project {
        width: 100%;
    }
}
/* Media query for desktop devices */
@media (min-width: 769px) {
    .projects .heading , 
    .education .heading, 
    .technical-skills .heading,
    .contact-me .heading{
        font-size: 1.5rem;
    }
     .technical-skills .heading h1{
        padding-top: 0px;
        margin-top: 0px;
    }

    .projects_Details_container, 
    .education_details_container, 
    .skills-container,
    .contact-details-container{
        gap: 100px;
        row-gap: 15px;
    }
    .project-details p{
        font-size: 1.1rem;
    }
}


.education-detail {
    width: calc(50% - 20px);
    max-width: 500px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    max-height: inherit;
    transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
}
.dark-mode .education-detail , .dark-mode .skill-box{
    background-color: black;
}
.light-mode .education-detail, .light-mode .skill-box{
    background-color: #edecec;
}
.education-detail h3{
    margin:0;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .education {
        padding: 1vw;
    }
    .education_details_container ,.skills-container{
        flex-direction: column;
        padding: 0px;
    }

    .education-detail,.skill-box  {
        width: 80vw;
        margin: auto;
        margin-top: 20px;
    }
    .education-detail{
        margin-top: 5px;
    }
}


.skill-box{
    border-radius: 10px;
}
.skill-box h3{
    margin-bottom: 0;
    margin-top: 3px;

}
.skill-box ul{
    margin-left: 15%;
}
.skill-box li{
    margin-bottom: 3px;
}
.skill-box .Front-end li{
    margin-bottom: 10px;
}
.skill-box .Back-end li{
    margin-bottom: 5px;
}
.skill-box .Graphic{
    margin-bottom: 5px;
}

.social-media-box ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.social-media-box li {
    margin-bottom: 10px;
}

.contact-details-box,
.social-media-box{
    border-radius: 10px;
    min-width: 200px;
    padding: 20px;
}

/* +++++++++++++++++ */
.social-media-list {
    list-style-type: none;
    padding: 0;
}

.social-media-list li {
    align-items: center;
    margin-bottom: 10px;
}

.social-media-list a {
    text-decoration: none;
    align-items: center;
}

.dark-mode .social-media-list a{
    color: white;
}
.light-mode .social-media-list a{
    color: black;
}

.social-media-list a i {
    font-size: 24px; /* Adjust the icon size as needed */
    border-radius: 50%;/* Background color for the circular icon */
    color: inherit; /* Icon color */
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(4, 126, 187);
}
.social-media-list a i:hover{
    background-color: rgba(169, 169, 169, 0.309);
    transition: background-color 0.3s ease;
}

.social-media-list i{
    margin: auto;
}

.contact-details-box p{
    margin-left: 20px;
    font-size: 1.2rem;
}
.contact_info a{
    text-decoration: none;
    color: inherit;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
    .contact-details-container {
        flex-direction: column;
    }

    .contact-details-box,
    .social-media-box {
        margin-bottom: 20px;
    }
    .social-media-box ul {
        padding: 10px;
    }
    .social-media-box ul {
        gap: 10px;
    }
    .social-media-list a i {
        font-size: 24px;
        width: 40px; /* Adjust the width and height for the circle */
        height: 40px;
    }
}
/* Media query for desktop devices */
@media (min-width: 769px) {

    .contact-details-box,
    .social-media-box {
        width: 500px;
        max-width: 600px;
    }
    .social-media-box ul {
        gap: 40px;
    }
    .social-media-list a i {
        font-size: 34px;
        width: 50px; /* Adjust the width and height for the circle */
        height: 50px;
    }
    .contact-details-box .contact_info{
        display: flex;
        gap: 70px;
    }
}


